_ReSharper*
bin/*
obj/*
*.suo
decorator_pattern/app/decorator_pattern/decorator_pattern/bin/
decorator_pattern/app/decorator_pattern/decorator_pattern.4.5.resharper.user
decorator_pattern/app/decorator_pattern/decorator_pattern/obj/*
decorator_pattern/test/decorator_pattner_tests/bin
decorator_pattern/test/decorator_pattner_tests/obj/
